body{
    margin:0;
    font-family: sans-serif;
    background-image: url("https://img.freepik.com/free-photo/cartoon-landscape-tropical-island_23-2151724107.jpg?size=626&ext=jpg");
    background-repeat:no-repeat;
    background-size: cover;
    min-width: 1000px;
}

*{
    box-sizing: border-box;
}

.header{
    width:80%;
    /* border:1px solid black; */
    padding: 0.5em 5em ;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    flex-wrap: wrap;
}

.left{
    width:50%;
    font-weight: bold;
    color:black;
}
    
.navbar{
    /* border:1px solid black; */
    padding-right: 1em;
    width:50%;
    display: flex;
    justify-content: flex-end;
    min-width: 300px;
}

.navbar a{
        text-decoration: none;
        color:black;
        /* border:1px solid black; */
        margin-left: 1em;
        
}

.box3{
    width:60%;   
}

.box4{
    width:40%;
    display:flex;
    justify-content: center;
    padding-left: 8em;;
    /* border:1px solid black; */
}
.box4 img{
    /* border:1px solid black; */
    max-width:100%;
    flex-shrink: 0em;
    /* padding-left: 5em;     */
    min-width: 20vw;
    height:auto;
    object-fit: contain;
}

.mid{
    background-color:lightgrey; 
    width:80%;
    margin:0 auto; 
    padding:0.05em 5em 0.05em; 
}

.images{
    display:flex;
    justify-content: center;
    gap:1em;
    perspective:1000px;
    
}

.images .img{
    max-width:30%;
    text-align: center ;
    /* border:1px solid black; */
    animation-fill-mode:forwards;
}

.img img{
    text-align: center;
}

.box4 img:hover{
    animation: scaling 0.25s ease-in-out forwards;
}

@keyframes scaling{
    from{transform:scale(1,1);}
    to{transform:scale(1.25,1.25);}
}

.img:hover img{
    animation: rotation 2s ease-in-out forwards;
}
@keyframes rotation{
    from { transform:rotatey(0deg ) ;}
    to { transform:rotatey(360deg ) ; }
}

.third{
    background-color: beige;
    text-align: center;
    font-style: italic;
    padding:0.3em;
    width:80%;
    margin:0 auto;
    text-shadow: 1px grey;
 
}
.author{
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding-left: 12em;
    margin:0em;
}

.last{
    display:flex;
    background-color: rgb(100, 100, 100);
    color:white;
    padding:0em 1em ;
    align-items: center;
    justify-content: space-around;
    width:40%;
    margin:0.5em auto;
    border-radius: 1.5em 0em;
    border: 1px solid black;
}

.Lleft{
    max-width:80%;
}

button a{
    color:White;
    text-decoration: none;
}

button{
    background-color: rgb(0, 119, 255);
    border-radius: 1em;
    height:2em;
    width:8em;
}

button:hover{
    background-color: rgb(204, 50, 50);
}

a:hover{
    color:purple;
}

